<!DOCTYPE html>
<html
        xmlns:th="http://www.thymeleaf.org"
        xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6"
        lang="en">
<head>
    <meta charset="UTF-8">
    <title>Profile</title>
</head>
<body>
<h1>Your profile</h1>
<div th:object="${profile}">
    <div>
        <a th:href="@{/profile/notifications(id=*{id})}">notifications</a>
        <a th:href="@{/profile/reports(id=*{id})}">reports</a>
    </div>
    <hr/>
    <div>
        <table>
            <thead>
            <tr>
                <th>Имя</th>
                <th>Фамилия</th>
                <th>Телефон</th>
                <th>Адрес</th>
                <th>Дата рождения</th>
                <th>Номер счёта</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td th:text="*{firstName}">none</td>
                <td th:text="*{lastName}">none</td>
                <td th:text="*{phone}">none</td>
                <td th:text="*{address}">none</td>
                <td th:text="*{dateOfBirth}">none</td>
                <td>
                    <a th:if="*{account}" th:href="@{/profile/account(id=*{account.id})}"
                       th:text="*{account.accountNumber}"></a>
                    <a th:unless="*{account}">null</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>


    <div>
        <a th:href="@{/profile/update/{id}(id=*{id})}">modify</a>
        <a sec:authorize="hasRole('ADMIN')" th:unless="${profile.account}"
           th:href="@{/profile/add-account  (id=${profile.id})}" th:method="post">create
            account</a>
        <a th:if="${profile.account}" th:href="@{/profile/account(id=${profile.account.id})}" th:method="get">show
            account</a>
        <a href="/">back</a>
    </div>
</div>
</body>
</html>