<!DOCTYPE html>
<html
        xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6"
        xmlns:th="http://www.thymeleaf.org"
        >
<head>
    <meta charset="UTF-8">
    <title>profiles list</title>
</head>
<body>
<h1>List profiles</h1>
<div>
    <div>
        <table>
            <thead>
            <tr>
                <th>Имя</th>
                <th>Фамилия</th>
                <th>Телефон</th>
                <th>Адрес</th>
                <th>Дата рождения</th>
            </tr>
            </thead>
            <tbody>
            <tr th:object="${profile}" th:each="profile:${profiles}">
                <td th:text="*{firstName}">none</td>
                <td th:text="*{lastName}">none</td>
                <td th:text="*{phone}">none</td>
                <td th:text="*{address}">none</td>
                <td th:text="*{dateOfBirth}">none</td>
                <td>
                    <a th:href="@{profile/{id}(id=*{id})}">View</a>
                    <a sec:authorize="hasRole('ADMIN')" th:href="@{profile/update/{id}(id=*{id})}">Edit</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <div>
        <a href="/">back</a>
    </div>
</div>
</body>
</html>