<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
    <title>Users</title>
</head>
<body>
<div>
    <h1>Users</h1>
</div>
<div class="create">
    <a sec:authorize="hasRole('ADMIN')" th:href="@{/user/create}"> Create New User</a>
</div>
<div class="table-tabs">
    <table>
        <div class="table-header">

            <thead>
            <tr>
                <th>ID</th>
                <th>Username</th>
                <th>Email</th>
                <th>Roles</th>
                <th>Actions</th>
                <th>Profile</th>

            </tr>
            </thead>
        </div>
        <tbody>
        <tr th:object="${user}" th:each="user : ${users}">
            <td th:text="*{id}"></td>
            <td th:text="*{username}"></td>
            <td th:text="*{email}"></td>
            <td >
                <div th:each="role : *{roles}">
                    <a  th:text="|${role.name} |"></a>
                </div></td>
            <td>
                <a th:href="@{user/{id}(id=*{id})}">View</a>
                <a sec:authorize="hasRole('ADMIN')" th:href="@{user/update/{id}(id=*{id})}">Edit</a>
                <form sec:authorize="hasRole('ADMIN')" th:method="delete" th:action="@{user/{id}(id=*{id})}">
                    <input type="submit" value="DELETE">
                </form>
            </td>
            <td>
                <a th:href="@{profile/{id}(id=*{userProfile.id})}">View profile</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
<div>
    <a href="/">back</a>
    <a th:text="${#authentication.getName()}"></a>
    <a href="/logout">logout</a>
</div>
</body>
</html>
