<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>User</title>
</head>
<body>
<table>
    <thead>
    <tr>
        <th>ID</th>
        <th>Username</th>
        <th>Email</th>
        <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr th:object="${user}">
        <td th:text="*{id}"></td>
        <td th:text="*{username}"></td>
        <td th:text="*{email}"></td>
        <td>
<!--            <a th:href="@{/user/{id}(id=*{id})}">View</a>-->
            <a th:href="@{/user/update/{id}(id=*{id})}">Edit</a>
            <form th:method="DELETE" th:action="@{/user/{id}(id=*{id})}">
                <input type="submit" value="DELETE">
            </form>
        </td>
    </tr>
    </tbody>
</table>
<div>
    <a href="/user">back</a>
</div>
</body>
</html>