<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>account</title>
</head>
<body>
<div>
    <h1>Account</h1>
    <div th:object="${account}">
        <table>
            <thead>
            <tr>
                <th>acc number</th>
                <th>balance</th>
                <th>currency</th>
                <th>created at</th>
                <th>profile</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td  th:text="*{accountNumber}"></td>
                <td  th:text="*{balance}"></td>
                <td  th:text="*{currency}"></td>
                <td  th:text="*{createdAt}"></td>
                <td th:with="user=${account.userProfile}" th:text="|${user.firstName} ${user.lastName}|"></td>
            </tr>
            </tbody>
        </table>
    </div>

</div>
</body>
</html>