<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6"
      >

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>main page</title>
</head>
<body>
<h1>Main page</h1>
<div class="main">
    <div class="main-details">
        <a>Это начальная страница</a>
    </div>
    <div class="nav-list">
        <ul>
            <a sec:authorize="hasRole('ADMIN')" href="user"> list users</a>
        </ul>
        <ul>
            <a sec:authorize="hasRole('ADMIN')" href="profile"> list profiles</a>
        </ul>
        <ul>
            <a sec:authorize="hasRole('ADMIN')" href="role"> list roles</a>
        </ul>
<!--        <ul>-->
<!--            <a sec:authorize="hasRole('ADMIN')" href="credit-card"> list credit cards</a>-->
<!--        </ul>-->
<!--        <ul>-->
<!--            <a sec:authorize="hasRole('ADMIN')" href="transaction"> list transactions</a>-->
<!--        </ul>-->
    </div>
</div>
<div>
    <form action="/logout">
        <button type="submit">Logout</button>
        <button th:object="${user}" type="submit" th:formaction="@{/profile/{id}(id=*{userProfile.id})}" th:text="'' + *{username} + ' profile'">Profile</button>
    </form>
</div>

</body>
</html>