<!DOCTYPE html>
<html lang="en"
xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>create role</title>
</head>
<body>
<div class="block-list">
    <form th:action="@{/role/create}" th:object="${role}" method="post">
        <div class="block">
            <label for="name">Username:</label>
            <input type="text" id="name" name="name" value="ROLE_">
            <div style="color:red" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Name error</div>
        </div>
        <br>
        <button type="submit">Create</button>
    </form>
</div>
<div>
    <a href="/role">back</a>
</div>
</body>
</html>